<nav class="menu">
  <h1 class="company-name">
    <a href="/">{{ companyName }}</a>
  </h1>

  <ul>
    {% for menuSection in menuSections %}
      <li class="menu-link">
        <a href="{{ menuSection.link }}">{{ menuSection.name }}</a>

        <div class="menu-section-content" hidden>
          <h2>
            <a href="{{ menuSection.link }}">{{ menuSection.name }}</a>
          </h2>
          <p>{{ menuSection.description }}</p>
        </div>
      </li>
    {% endfor %}

    <li class="menu-link">
      <a href="/login">Log In</a>
    </li>
  </ul>
  <button class="mobile-show-menu">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24" role="img">
      <title>Show menu</title>
      <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
    </svg>
  </button>
</nav>
